.top-div {
	border-bottom: 1px solid gray;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
  width: 15vw;
  min-width: 150px;
  height: 18vw;
  min-height: 200px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background: light-gray;
  margin: 10px;

  color: dark-gray;
  font-weight: normal;
  font-size: 1.0rem;
  text-align: center;
}
.flex-item-img {
  max-width:100%;height:auto;
  min-width: 100%;
}


li:hover {
	font-weight: bold;
  animation: shake 0.2s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(-1px, -2px) rotate(-1deg); }
  100% { transform: translate(-3px, 0px) rotate(1deg); }
}